@font-face {
    font-family: "Manrope";
    src: url(fonts/Manrope[wght].ttf);
}

@font-face {
    font-family: "Satoshi";
    src: url(fonts/Satoshi-Variable.ttf);
}

@font-face {
    font-family: "Satoshi";
    font-style: italic;
    src: url(fonts/Satoshi-VariableItalic.ttf);
}

body {
    background-color: #FFFCF5;
    margin: 0 auto;
}

header {
    width: 100%;
}

header p {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 6vw;
    letter-spacing: 16px;
    margin: 0%;
    padding-left: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

.flex {
    grid-template-areas: ;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    display: grid;
    width: 100%;
    align-items: center;
    justify-items: center;
}

.flex>img {
    width: 60px;
    height: 60px;
    grid-column: 1;
    padding: 5px;
}

.flex a {
    grid-column: 2;
    justify-content: end;
}

.headertext {
    display: none;
}

#hamburger-menu {
    display: none;
}

.menu {
    display: block;
    background-color: rgba(0, 0, 0, 0.891);
    width: 100%;
    overflow: hidden;
    height: 0em;
    top: 5rem;
}

.mobile {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.mobile li {
    padding: 10px;
    font-size: 1rem;
    font-family: "Manrope", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.menu nav ul a li {
    border-bottom: 1px solid #FFFCF5;
    text-align: center;
    color: #FFFCF5;
}

.mobile>a:nth-child(4)>li {
    border: none;
}

#hamburger-menu:checked~.menu {
    height: 11rem;
    position: absolute;
    transition: height 0.3s ease-in-out;
}


label[for=hamburger-menu] {
    font-size: 2.5em;
    padding: 15px;
    grid-column: 3;
    margin-left: auto;
}

#desktop {
    display: none;
}

.pushdown {
    margin-bottom: 11rem;
    transition: margin 0.3s ease;
}

#hero {
    display: flex;
    justify-content: center;
}


h1 {
    font-family: "Manrope";
    font-size: 12vw;
    margin: 0;
    padding-bottom: 20px;
}

h1:nth-child(1) {
    color: black;
    left: 5%;
}

h1:nth-child(2) {
    color: #FFFCF5;
    text-shadow: 1px 0 0 rgb(58, 58, 58, 0.5), 0 -1px 0 rgb(58, 58, 58, 0.5), 0 1px 0 rgb(58, 58, 58, 0.5), -1px 0 0 rgb(58, 58, 58, 0.5);
    z-index: -1;
}

#hero>div:nth-child(1) {
    display: grid;
    grid-area: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-self: center;
    padding: 5%;
}

#hero>div:nth-child(1)>h1:nth-child(1) {
    grid-column-start: 1;
    grid-row-start: 1;
}

#hero>div:nth-child(1)>h1:nth-child(2) {
    grid-column-start: 1;
    grid-row-start: 1;
    padding: 20px 10px;
}


.carousel {
    display: block;
    overflow-x: scroll;
    margin: 0 -15px 0 -15px;
}

.resultcard a {
    margin: 1.5vw;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 5%;
    display: flex;
    flex-direction: column-reverse;
    height: 50vw;
    justify-content: flex-end;
}

.resultcard h2 {
    margin: 0;
    font-family: "Manrope", sans-serif;
    font-size: 4vw;
    padding-top: 20px;
}

.resultcard ul {
    display: none;
}

.resultcard p {
    display: none;
}


.resultcard img {
    width: 30vw;
    height: 30vw;
    object-fit: cover;
    border-radius: 5px;
}

.album {
    flex-direction: row;
    display: flex;
}

.button {
    display: none;
}

#main {
    padding: 5px 15px;
}

#main p.main {
    font-family: "Satoshi";
    font-style: italic;
    font-weight: bold;
    font-size: 2.6rem;
    margin: 0;
}


#main .about img {
    width: -moz-available;
    width: -webkit-fill-available;
    width: 100%;
    filter: grayscale(50%);
}

.about p,
#main p {
    font-family: "Satoshi";
    font-size: 16px;
    white-space: pre-line;
    padding: 0px 15px;
}

footer {
    border-top: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.891);
    padding: 10px;
    bottom: 0;

}

#nav-footer {
    display: grid;
    grid-template-columns: 1.7fr 1fr;
    padding-top: 20px;
    padding-bottom: 20px;
}

#nav-footer nav ul {
    padding: 10px;
    margin: 0;
}

#nav-footer nav ul li {
    font-family: "Satoshi";
    font-size: 1.2rem;
    padding: 0 0 35px 0;
    color: #FFFCF5;
}

#nav-footer>img {
    width: 145px;
    filter: invert(100%) sepia(48%) saturate(285%) hue-rotate(1deg) brightness(103%) contrast(105%);
    padding: 10px;
}

.socials {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 10px;
    font-size: 1.5em;
    color: #FFFCF5;
}

.imgContainer {
    display: flex;
    justify-content: center;
}

.title h2 {
    font-family: "Manrope", sans-serif;
    font-size: 2rem;
    padding: 10px 0 0 5px;
}

.resultcontainer {
    display: grid;

}

.resultcontainer img {
    width: 250px;

}

.resultcontainer figure {
    display: inline-flex;
    flex-direction: column-reverse;
    width: min-content;
}

.resultcontainer figure table {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
    border: 1px solid #000;
    border-radius: 10px;
    margin-top: 5px;
}

.resultcontainer ul {
    margin: auto;
    padding: unset;
    padding-bottom: 15px;

}

.resultcontainer p,
.resultcontainer li {
    font-family: "Manrope", sans-serif;
    font-size: 1em;
}

.resultcontainer li::first-line {
    font-weight: 600;
}

.modal {
    display: none;
    position: absolute;
    z-index: 1;
    width: 90%;
    padding: 100px 15px 1000px 15px;
    left: 0;
    right: 0;
    top: 0;
    overflow: auto;
    margin: auto;
}

.modalContent {
    display: flex;
    margin: auto;
    justify-content: center;
}

.modalImg {
    width: 100%;
}

.close {
    position: absolute;
    color: #000;
    font-size: 8em;
    color: #444;
    top: 0;
    right: 0;
    margin-right: 15px;
    background-color: aqua;
}

#tracklist {
    margin: auto;
}

#tracklist table {
    text-align: end;
    border-spacing: 0;
    font-size: 0.8em;
    font-family: "Satoshi", sans-serif;

}

#tracklist table td {
    border-bottom: 1px solid black;
    padding: 5px 0;
}

#tracklist table tr:last-child td {
    border-bottom: none;
}


.clickme {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 16rem;
    border: 1px solid #000;
    border-radius: 10px;
    justify-content: space-around;
    padding: 10px;
    height: 2rem;
}

.clickme p {
    font-weight: 700;
    font-size: 1.2em;
}

.fa-solid {
    font-size: 2em;
}

.rotateArrow {
    transform: rotate(180);
    transition: 0.3s;
}

.allPosts .album {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.allPosts .resultcard>img {
    width: 35vw;
    height: 35vw;
    margin: auto;
}

.allPosts .resultcard {
    height: 50vw;
}

.allPosts .resultcard h2 {
    font-size: 5vw;
}

.loader {
    margin: 0 auto;
    padding: 50px 0;
    grid-column: 1/3;

}

.loader img {
    width: 100px;
    height: 100px;
    animation: spin 1.2s steps(8, end) infinite;
}



@keyframes spin {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

#success {
    display: none;
    background: #FFFCF5;
    color: black;
    width: 260px;
    text-align: center;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 230px;
    z-index: 1;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

#success.show {
    display: block;
}

#success i {
    font-size: 4em;
    color: gold;
}

#success p {
    font-weight: 600;
    font-size: 26px;
    white-space: unset;
    margin: 10px 0;
    padding-bottom: 16px;
}

#success span {
    font-weight: 400;
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
}

#contact {
    font-family: "Satoshi", sans-serif;
    font-size: 4vw;
    font-weight: bold;
}

#formContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

#formContainer input {
    border-radius: 5px;
    border-style: solid;
    border: 1px solid black;
    display: block;
}

#message {
    width: 100%;
    height: 200px;
    font-family: "Satoshi", sans-serif;
    border: 1px solid black;
    border-radius: 5px;
    resize: none;

}

.error {
    display: inline-block;
    position: relative;
    font-size: 3vw;
    font-style: italic;
}

#formContainer>input:nth-child(6) {
    height: 50px;
    font-size: larger;
    text-transform: uppercase;
    font-style: italic;
    color: #f9f9f9;
    background-color: #000;
    cursor: pointer;
}

#backbutton {
    background-color: black;
    width: fit-content;
    color: white;
    font-size: larger;
    border-radius: 5px;
    padding: 5px 20px;
}

@media (min-width: 545px) {

    .about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1fr;
    }

    .about>picture {
        grid-area: 1/1;
    }

    .about>p:nth-child(2) {
        align-self: center;
        font-weight: bold;
    }

    .about>p:nth-child(3) {
        grid-row-start: 1/3;
        grid-column: 1/3;
    }

    .resultcontainer {
        grid-template-columns: 1fr 0.8fr;
        grid-auto-rows: auto;
    }

    .imgContainer {
        display: block;
    }

    .resultcontainer ul {
        grid-area: 1/2;
        margin: unset;
    }

    #tracklist {
        grid-area: 1/2;
        margin: unset;
    }

    #tracklist table {
        position: absolute;
        top: 450px;
        right: 24px;
        width: 300px;

    }

    .clickme {
        width: 12rem;
    }
}

@media (min-width: 779px) {

    *,
    *::after,
    *::before {
        box-sizing: border-box;
    }

    body {
        margin: 0;
    }

    header p {
        letter-spacing: normal;
        padding: unset;
    }

    .flex {
        display: grid;
        grid-template-columns: 1fr 0.1fr 1fr;
        grid-template-rows: 1fr 0.5fr;
        height: 115px;
    }

    .flex img {
        grid-column: 2;
    }

    .flex a {
        grid-area: 1/1;
        margin-left: 10px;
    }

    .flex a>p {
        letter-spacing: 30px;
        font-size: 6vw;
    }

    .headertext {
        display: block;
        font-size: small;
        grid-column: 3;
        padding: 15px;
    }

    #hamburger-menu {
        display: none;
    }

    label[for=hamburger-menu] {
        display: none;
    }

    .menu {
        display: none;
    }

    #desktop {
        display: block;
        grid-row: 2;
        grid-column: 1;
        margin-top: 10px;
    }

    #desktop ul {
        margin: 0 0 0 -70px;
        padding: 0;
        display: flex;
    }

    #desktop ul li {
        border: 1px solid black;
        border-radius: 20px;
        padding: 5px 5px;
        margin-right: 10px;
        font-family: "Manrope", sans-serif;
        font-weight: 600;
        font-size: 1.8vw;
        width: auto;
        text-align: center;

    }

    #desktop ul li:hover {
        border: 1px solid #FFFCF5;
        color: #f9f9f9;
        background-color: #000;

    }

    .carousel {
        display: flex;
        flex-direction: column;
        overflow: hidden;

    }

    .album {
        --slider-index: 0;
        flex-direction: unset;
        width: 100%;
        flex-grow: 1;
        transform: translate(calc(var(--slider-index)* -100%));
        transition: transform 250ms ease-in-out;

    }

    .resultcard {
        width: 25%;
        margin: unset;
        padding: 1vw;
        display: unset;
        height: unset;
    }

    .resultcard img {
        width: 20vw;
        height: 20vw;
    }

    .resultcard h2 {

        font-size: 3vw;
    }

    .resultcard a {
        margin: unset;
        height: 40vw;
    }

    .button {
        display: flex;
        justify-content: space-between;
        margin: 5px 15px;
    }

    .arrow {
        margin: 0 15px;
        border: none;
        background: none;
        z-index: 10;
        cursor: pointer;
    }

    .arrow .text {
        border: 1px solid black;
        border-radius: 20px;
        width: 80px;
        text-align: center;
        transform: scale(1.5, 1);
        font-size: 22px;
        font-weight: 900;
    }

    .arrow .text:hover {
        background-color: #000;
        color: #FFFCF5;
    }

    .pageCount {
        font-family: "Satoshi", sans-serif;
        font-size: 2.2vw;
        font-style: italic;
    }

    .about {
        margin: 25px 0;
        grid-area: ;
        grid-template-columns: 1fr 2fr;
        display: grid;
        grid-gap: 10px;
    }

    .about picture {
        grid-column-start: 1;
    }

    .allPosts .album {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .allPosts .resultcard {
        width: 28vw;
    }

    .allPosts .resultcard h2 {
        font-size: 3vw;
    }



}