@font-face {
    font-family: "Manrope";
    src: url(fonts/Manrope[wght].ttf);
}

body {
    background-color: #FFFCF5;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
}

header p {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 5px;
}

header a {
    text-decoration: none;
    color: inherit;
}

.logo {
    display: flex;
    flex-direction: row;
}

.logo>img {
    width: 75px;
    height: 75px;
    flex-flow: row-reverse;
}

.headertext {
    display: none;
}

.menuwrap .hamburger-menu.menu {
    display: none;
}

.menuwrap .hamburger-menu:checked~.menu {
    display: block;
}

.menuwrap .hamburger-menu:checked~.menu>div {
    transform:
        transition-duration: 0.75s;
}

.menuwrap .menu {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
    justify-content: center;
}

#desktop {
    display: none;
}

h1 {
    font-family: "Manrope";
    font-size: 90px;
}

h1:nth-child(1) {
    color: black;
}

h1:nth-child(2) {
    color: #FFFCF5;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.carousel {
    display: block;
    width: 100%;
    overflow-x: scroll;
}

.resultcard {
    margin: 10px;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 5%;
    display: flex;
    flex-direction: column-reverse;
    height: 280px;
    justify-content: flex-end;
}

.resultcard h2 {
    margin: 0;
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    padding-top: 20px;
}

.resultcard ul {
    display: none;
}

.resultcard p {
    display: none;
}

.resultcard>img {
    width: 190px;
}

.album {
    flex-direction: row;
    display: flex;
}